<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/static/css/about.css">
    <link rel="icon" href="/static/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class="header">
    <h1>Welcome to Our Travel Agency</h1>
  </div>
  <h2>This website was made for our second year mini project.</h2>
  <h3>Made by:</h3>
  <ul style="padding: 10px;">
    <li>Sourish Kanna</li>
    <li>Maharajan Konar</li>
    <li>Tufail Khan</li>
    <li>Soham Kapse</li>
  </ul>
  <a class="back" href="/tag">Back</a>
</body>
</html>
