<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag - {{t_name}}</title>
    <link rel="stylesheet" href="/static//css/tags.css">
    <link rel="icon" href="/static/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="header">
        <section class="title">
            <h1>Welcome to Xplore Travels</h1>
        </section>
    </div>
    <h2>Choose your <br>Dream Destination</h2>
    <div id="data" data-value="{{tag}}"></div>
    <script src="/static//scripts/activity.js"></script>
</body>

</html>
