<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Xplore Travels</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <section class="showcase">
      <header>
        <h2 class="logo">Xplore Travels</h2>
      </header>
      <video src="/static/explore/boat.mp4" muted loop autoplay poster="/static/explore/boat.jpg"></video>
      <div class="overlay"></div>
      <div class="text">
        <h2>Never Stop To </h2>
        <h3>Exploring The World</h3>
        <p>Welcome to our comprehensive travel guide website! We're here to make your travel planning easier and more
          enjoyable.
          Our platform provides detailed information about various destinations, including how to reach them, the best
          accommodations, top-rated restaurants, and must-see attractions. We also offer insights into interesting
          places to visit
          near your chosen destination. Whether you're planning a relaxing vacation or an adventurous journey, we have
          all the
          information you need to make your trip memorable. Start exploring with us today! 😊</p>
        <a href="/tag">Explore</a>
      </div>
      <ul class="social">
        <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
        <li><a
            href="https://www.linkedin.com/posts/sourish-kanna-97330a2a2_i-am-happy-to-share-that-our-semester-4-project-activity-7208762919247917056-uwcF?utm_source=share&utm_medium=member_desktop">
            <i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/Sourish-Kanna/GST-Travels-website"><i class="fa fa-github"></i></a></li>
      </ul>
    </section>
  </body>

</html>