   <!DOCTYPE html>
    <html lang="en">
  
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>GST Travels Home</title>
      <link rel="stylesheet" href="/static/css/home.css">
      <link rel="icon" href="/static/favicon.ico">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
    <section class="showcase">
      <header>
        <h2 class="logo">GST Travels</h2>
      </header>
      <video src="/static/explore/boat.mp4" muted loop autoplay></video>
      <div class="overlay"></div>
      <div class="text">
        <h2>Never Stop To </h2> 
        <h3>Exploring The World</h3>
        <p>It's very important to have a patient, and it will be followed by an adipiscing process, but I'll give it that way
        in time they occur as with great labor and pain. Over the years, I will come,
        no one should practice any kind of work except to gain some benefit from it
        consequence</p>
        <a href="/tag">Explore</a>
      </div>
      <ul class="social">
        <li><a><img src="/static/explore/facebook.png"></a></li>
        <li><a><img src="/static/explore/twitter.png"></a></li>
        <li><a><img src="/static/explore/instagram.png"></a></li>
      </ul>
    </section>
    </body>
    </html>
    